<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main{
            width: 1200px;
            height: 800px;
            margin: 0 auto;
            border: 1px solid #000;
        }

        .title{
            font-size: 30px;
            text-align: center;
        }

        .data{
            width: 1200px;
            text-align: center;
        }
        .data div{
            margin-top: 30px;
        }
    </style>

    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script>
        $(function(){
            var url = window.location.href
            var bid = url.substring(url.lastIndexOf("=")+1)
            $.get("http://127.0.0.1:8888/changeData/"+bid,function(data){
                $(".name").val(data.name)
                $(".price").val(data.price)
                $(".summary").val(data.summary)
                $(".quantity").val(data.quantity)
                var url = "http://127.0.0.1:8888/change/"+bid
                $("form").prop({"action":url})
            },"json");
        });
    </script>
</head>
<body>
    <div class="main">
        <div class="title">修改图书信息</div>
        <div class="data">
            <form action="" method="post">
                <div>书名： <input type="text" class="name" name="name"></div>
                <div>价格： <input type="text" class="price" name="price"></div>
                <div>简介： <input type="text" class="summary" name="summary"></div>
                <div>库存： <input type="text" class="quantity" name="quantity"></div>
                <div> <input type="submit" value="修改"></div>
            </form>
        </div>
    </div>
</body>
</html>
